* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdd7d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin: 10px 0px;
}

.header,
footer {
    width: auto;
    height: 100px;
    display: flex;
    background-color: #43aa8b;
}

.product-image {
    margin: 10px 0 10px 10px;
    position: absolute;
    width: 80px;
    height: 80px;
}

.nav-bar {
    margin-left: 100px;
    margin-top: 20px;
}

.nav-bar>ul {
    list-style: none;
    color: #fff;
    display: flex;
    text-align: end;
    justify-content: space-between;
}

.nav-bar>ul>li {
    align-items: flex-end;
    margin: 15px;
}

.nav-bar>div>a:link {
    color: #EEC261;
    text-decoration: none;
}

.nav-bar>ul>li>a:visited {
    color: #fC9E4F;
    text-decoration: none;
}

.nav-bar>ul>li>a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-bar>ul>li>a:active {
    color: #EEC261;
    text-decoration: none;
}

a {
    text-decoration: none;
}

input[type='email'] {
    width: 100%;
    padding: 5px;
}

input[type='submit'] {
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}

.pet-services {
    width: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pet-services-info {
    display: flex;
    flex-direction: column;
}

.pet-services-info>h3 {
    margin-left: 10px;
}

.pet-services-info-text {
    margin-left: 10px;
    width: 800px;
}

.sub-title {
    margin-top: 30px;
}

.pricing-container {
    display: flex;
    flex-direction: row;
}

.pet-service-price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 15px;
    border: 1px solid #EEC261;
    border-radius: 3px;
    background-color: #fff;
    text-decoration: none;
}

.pet-service-price-info>.service {
    background-color: #F4CC6C;
    color: black;
    padding: 15px 0;
    width: 200px;
    text-transform: uppercase;
    font-weight: 700;
}

.pet-service-price-info>h2 {
    margin-top: 15px;
}

.pet-service-price-info>ol {
    margin: 15px 0;
    text-decoration: none;
    list-style-type: none;
}

.pet-service-price-info>ol>li {
    padding: 5px 0;
    text-decoration: none;
    list-style-type: none;
}

.pet-service-price-info>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.pet-service-price-info>button:hover {
    color: #fff;
    background-color: orange;
    transition: background-color 1s;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px #EEC261 solid;
    border-radius: 2px;
    background-color: #F4CC6C;
    cursor: pointer;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-tv {
    padding: 10px;
    border: 4px #EEC261 solid;
    background-color: #fff;
    margin: 10px;
}

@media all and (max-width: 480px) {
    .pet-services {
        width: min-content;
    }
    .cat-tv {
        margin: 10px;
        padding: 10px;
        /* width: 60vw;
        height: 60vh; */
    }
    .pet-services-info-text {
        width: 100%;
    }
    .pet-service-price-info {
        width: 200px;
    }
    .pet-service-price-info>.service {
        width: 200px;
    }
    .pricing-container {
        display: flex;
        flex-direction: column;
    }
    .nav-bar {
        margin-left: 100px;
    }
    .product-image {
        width: 80px;
        height: 80px;
    }
}